<template>
  <!-- FIXME faire des composants -->
  <v-row dense class="pa-2">
    <v-col cols="3">
      <NuxtLink to="/">
        <v-btn>Retourner à l'accueil</v-btn>
      </NuxtLink>
    </v-col>
    <v-col cols="6" align="center">
      <h2>Api Open Weather</h2>
    </v-col>
    <v-col cols="3"></v-col>
    <v-col cols="6">
      <v-card elevation="0">
        <v-card-title>Rechercher la météo dans votre ville</v-card-title>
        <v-card-text>
          <v-form v-model="validForm" ref="formInfoWeather" lazy-validation>
            <v-row dense>
              <v-col cols="6">
                <v-text-field
                  v-model="postCode"
                  label="Code postal"
                  type="number"
                  min="0"
                  :rules="[rules.required]"
                  outlined
                  dense
                  color="primary"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  v-model="countryCode"
                  label="Code pays"
                  :rules="[rules.required]"
                  counter
                  maxlength="2"
                  outlined
                  dense
                  color="primary"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            @click="validate_form"
            :disabled="!validForm"
            min-width="100"
            color="primary"
            >Valider</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-col>
    <v-col cols="6" v-if="actualWeather">
      <v-card elevation="0">
        <v-card-title
          >La météo actuelle à
          <b class="infoText mx-1">{{ actualWeather.name }}</b> est
          <b class="infoText mx-1">
            {{ actualWeather.weather[0].description }}
          </b>
        </v-card-title>
        <v-card-subtitle>
          <span class="caption"
            >Date de dernière mise à jour
            <b class="infoText">
              {{ actualDate }}
            </b>
          </span>
        </v-card-subtitle>
        <v-card-text>
          <v-row dense>
            <v-col cols="6">
              <p class="mb-0">
                <v-icon>mdi-weather-windy</v-icon>
                La vitesse du vent est de
                <b class="infoText">{{ actualWeather.wind.speed }} km/h</b>
              </p>
              <p class="mb-0">
                <v-icon>mdi-weather-sunset-up</v-icon>
                Le soleil se lève à
                <b class="infoText">{{ sunrise }}</b>
              </p>
              <p class="mb-0">
                <v-icon>mdi-weather-sunset-down</v-icon>
                Le soleil se couche à
                <b class="infoText">{{ sunset }}</b>
              </p>
              <p class="mb-0">
                <v-icon>mdi-water-percent</v-icon>
                Le taux d'humidité est de
                <b class="infoText">{{ actualWeather.main.humidity }}%</b>
              </p>
              <p class="mb-0">
                <v-icon>mdi-speedometer</v-icon>
                La pression est de
                <b class="infoText">{{ actualWeather.main.pressure }} hPa</b>
              </p>
            </v-col>
            <v-col cols="6">
              <p class="mb-0">
                <v-icon>mdi-thermometer</v-icon>
                La température actuelle est de
                <b class="infoText"
                  >{{ convert_temp(actualWeather.main.temp) }}°C</b
                >
              </p>
              <p class="mb-0">
                <v-icon>mdi-thermometer-low</v-icon>
                La température minimale est de
                <b class="infoText"
                  >{{ convert_temp(actualWeather.main.temp_min) }}°C</b
                >
              </p>
              <p class="mb-0">
                <v-icon>mdi-thermometer-high</v-icon>
                La température maximale est de
                <b class="infoText"
                  >{{ convert_temp(actualWeather.main.temp_max) }}°C</b
                >
              </p>
              <p class="mb-0">
                <v-icon>mdi-thermometer</v-icon>
                La température ressentie est de
                <b class="infoText"
                  >{{ convert_temp(actualWeather.main.feels_like) }}°C</b
                >
              </p>
              <p class="mb-0">
                <v-icon>mdi-cloud</v-icon>
                Pourcentage de couverture nuageuse
                <b class="infoText">{{ actualWeather.clouds.all }}%</b>
              </p>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="12" v-if="showError">
      <v-alert type="warning" dense class="body-2 mb-0">
        Attention, le code postal ou le code pays est incorrecte. Vérifiez vos
        informations puis réessayer.
      </v-alert>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "OpenWeather",
  data() {
    return {
      tokenAPI: "363745ca5ea7ea8ccdafb7ea24751a93",
      postCode: null,
      countryCode: null,
      validForm: false,
      actualWeather: null,
      actualDate: null,
      sunrise: null,
      sunset: null,
      showError: null,
      rules: {
        required: (value) => !!value || "Champ requis",
      },
    };
  },
  methods: {
    async validate_form() {
      if (this.$refs.formInfoWeather.validate()) {
        await this.submit_form();
      }
    },
    async submit_form() {
      try {
        let response = await this.convert_city_to_location();
        let lat = response.lat;
        let lon = response.lon;
        let req = await this.$axios.$get(
          "https://api.openweathermap.org/data/2.5/weather?lat=" +
            lat +
            "&lon=" +
            lon +
            "&appid=" +
            this.tokenAPI +
            "&lang=FR"
        );
        this.actualWeather = req;
        this.actualDate = new Date(req.dt * 1000).toLocaleString();
        this.sunrise = new Date(req.sys.sunrise * 1000).toLocaleTimeString();
        this.sunset = new Date(req.sys.sunset * 1000).toLocaleTimeString();
        this.showError = false;
      } catch (error) {
        this.showError = true;
        console.error(error);
      }
    },

    convert_city_to_location() {
      try {
        return this.$axios.$get(
          "https://api.openweathermap.org/geo/1.0/zip?zip=" +
            this.postCode +
            "," +
            this.countryCode +
            "&appid=" +
            this.tokenAPI
        );
      } catch (error) {
        console.error(error);
      }
    },
    convert_temp(temp) {
      return Number.parseFloat(temp - 273.15).toFixed(1);
    },
  },
};
</script>
<style scoped>
.infoText {
  color: #039be5;
}
</style>
