<template>
  <v-row dense class="pa-2">
    <v-col cols="3">
      <NuxtLink to="/">
        <v-btn>Retourner à l'accueil</v-btn>
      </NuxtLink>
    </v-col>
    <v-col cols="6" align="start">
      <v-pagination
        v-if="totalPage > 1"
        v-model="page"
        :length="totalPage"
        total-visible="7"
        color="primary"
        @input="call_api()"
        class="mb-1"
      ></v-pagination>
    </v-col>
    <v-col cols="3"></v-col>
    <v-col :cols="showCharacterDetails ? '8' : '12'" class="pa-2">
      <v-data-table
        v-if="data != !null"
        :headers="headers"
        :items="data"
        dense
        item-key="id"
        :items-per-page="20"
        hide-default-footer
      >
        <template v-slot:[`item.image`]="{ item }">
          <v-img :src="item.image" width="50px" contain></v-img>
        </template>
        <template v-slot:[`item.url`]="{ item }">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-icon
                color="primary"
                dark
                v-bind="attrs"
                v-on="on"
                @click="get_details(item)"
              >
                mdi-eye
              </v-icon>
            </template>
            <span>Cliquez ici pour voir le détail du personnage</span>
          </v-tooltip>
        </template>
      </v-data-table>
    </v-col>
    <v-col v-if="showCharacterDetails" cols="4" class="pa-2">
      <v-card elevation="0" class="pa-2">
        <v-img :src="details.image" width="250"></v-img>
        <div class="body-2 mt-2">
          <p class="mb-0" v-if="details.name">
            Nom <b style="color: #039be5">{{ details.name }}</b>
          </p>
          <p class="mb-0" v-if="details.episode">
            Apparait dans
            <b style="color: #039be5">{{ details.episode.length }}</b>
            épisode(s)
          </p>
          <p class="mb-0" v-if="details.gender">
            Sexe <b style="color: #039be5">{{ details.gender }}</b>
          </p>
          <p class="mb-0" v-if="details.location && details.location.name">
            Lieu de résidence
            <b style="color: #039be5">{{ details.location.name }}</b>
          </p>
          <p class="mb-0" v-if="details.origin && details.origin.name">
            Lieu d'origine
            <b style="color: #039be5">{{ details.origin.name }}</b>
          </p>
          <p class="mb-0" v-if="details.species">
            Espèce <b style="color: #039be5">{{ details.species }}</b>
          </p>
          <p class="mb-0" v-if="details.status">
            Statut <b style="color: #039be5">{{ details.status }}</b>
          </p>
          <p class="mb-0" v-if="details.type">
            Type <b style="color: #039be5">{{ details.type }}</b>
          </p>
        </div>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "InspirePage",
  data() {
    return {
      data: [],
      totalPage: null,
      page: 1,
      showCharacterDetails: false,
      details: {},
      headers: [
        { text: "id", value: "id" },
        {
          text: "Nom",
          align: "start",
          sortable: true,
          value: "name",
        },
        { text: "Espèce", value: "species" },
        { text: "Statut", value: "status" },
        { text: "Type", value: "type" },
        { text: "Image", value: "image" },
        { text: "Fiche personnage", value: "url" },
      ],
    };
  },
  created() {
    this.call_api();
  },
  methods: {
    async call_api() {
      try {
        let response = await this.$axios.$get(
          "https://rickandmortyapi.com/api/character?page=" + this.page
        );
        this.data = response.results;
        this.totalPage = response.info.pages;
      } catch (error) {
        console.error(error);
      }
    },
    async get_details(item) {
      this.showCharacterDetails = true;
      try {
        let response = await this.$axios.$get(item.url);
        console.log("response :>> ", response);
        this.details = response;
      } catch (error) {
        console.error(error);
      }
    },
  },
};
</script>
