<template>
  <v-app class="ma-0 customBG">
    <v-main class="ma-0">
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "DefaultLayout",
  data() {
    return {
      items: [
        {
          icon: "mdi-apps",
          title: "Welcome",
          to: "/",
        },
      ],
    };
  },
};
</script>
<style scoped>
.customBG {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(170, 169, 169, 1) 50%,
    rgba(162, 162, 162, 1) 100%
  );
}
</style>
