<template>
  <v-row dense>
    <v-col cols="12" align="center">
      <h1>Open API Rest App</h1>
    </v-col>
    <v-col v-for="(api, i) in listApi" :key="i" cols="3" align="center">
      <v-img :src="api.urlIMG" width="300"></v-img>
      <NuxtLink :to="api.path">
        <v-btn class="mt-2 primary" text
          >Aller sur l'api {{ api.titleApi }}</v-btn
        >
      </NuxtLink>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "HomePage",
  data() {
    return {
      data: null,
      listApi: [
        {
          urlIMG:
            "https://fr.web.img6.acsta.net/pictures/18/10/31/17/34/2348073.jpg",
          titleApi: "Rick & Morty",
          path: "/RickMorty",
        },
        {
          urlIMG:
            "https://i.pinimg.com/originals/6f/b8/fe/6fb8fed7f113a3e4816b992a84357310.jpg",
          titleApi: "Open weather",
          path: "/OpenWeather",
        },
      ],
    };
  },
};
</script>
